In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

1.import csv file

In [2]:
computed_insights=pd.read_csv(r'C:\Users\Mokhmed\Desktop\Computed insight - Success of active sellers.csv')
computed_insights.head()

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0
1,1,5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0
2,2,5417aada4ad3ab27e954b76c,2,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,NaN,NaN
3,3,570f3a713a698c14278bb51e,1,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0
4,4,53082ea15aefb07dfe1f2a4f,1,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,NaN,NaN

2.Cheking for the null values:

In [3]:
computed_insights.isnull()

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,False,False,False,False,False,False,False,False,False,False,False,False,True,True
954,False,False,False,False,False,False,False,False,False,False,False,False,True,True
955,False,False,False,False,False,False,False,False,False,False,False,False,True,True
956,False,False,False,False,False,False,False,False,False,False,False,False,True,True
957,False,False,False,False,False,False,False,False,False,False,False,False,True,True

In [4]:
computed_insights.isnull().sum()

index                        0
merchantid                   0
listedproducts               0
totalunitssold               0
meanunitssoldperproduct      0
rating                       0
merchantratingscount         0
meanproductprices            0
meanretailprices             0
averagediscount              0
meandiscount                 0
meanproductratingscount      0
totalurgencycount          567
urgencytextrate            567
dtype: int64

3.Handling the null values:

In [5]:
computed_insights['urgencytextrate']=computed_insights['urgencytextrate'].fillna(0)

In [6]:
computed_insights['totalurgencycount']=computed_insights['totalurgencycount'].fillna(0)

4.handling duplicates:

In [7]:
computed_insights.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
953    False
954    False
955    False
956    False
957    False
Length: 958, dtype: bool

In [8]:
#checking for partial duplicates(merchantid as reference):
merchantID_duplicates = computed_insights[computed_insights.duplicated(subset='merchantid', keep=False)]
print("Rows with duplicate merchantID:\n")
merchantID_duplicates.sum()

Rows with duplicate merchantID:

index                        0
merchantid                   0
listedproducts               0
totalunitssold               0
meanunitssoldperproduct    0.0
rating                     0.0
merchantratingscount       0.0
meanproductprices          0.0
meanretailprices           0.0
averagediscount            0.0
meandiscount               0.0
meanproductratingscount    0.0
totalurgencycount          0.0
urgencytextrate            0.0
dtype: object

5.Checking for data types

In [9]:
computed_insights.dtypes

index                        int64
merchantid                  object
listedproducts               int64
totalunitssold               int64
meanunitssoldperproduct    float64
rating                     float64
merchantratingscount       float64
meanproductprices          float64
meanretailprices           float64
averagediscount            float64
meandiscount               float64
meanproductratingscount    float64
totalurgencycount          float64
urgencytextrate            float64
dtype: object

6.Adding extra columns:

In [10]:
#adding extra column by multiplying two existing columns in the dataset(the objective is to obtain the total revenues per merchant):
computed_insights['revenues']=computed_insights['totalunitssold']*computed_insights['meanproductprices']
computed_insights

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate,revenues
0,0,5357bcf2bb72c5504882e889,2,120000,60000.0,4.219,320031.0,9.00,20.0,54.0,54.0,8836.0,1.0,50.0,1080000.00
1,1,5708773c3c02161b3f8c7900,5,107100,21420.0,3.934,139223.0,7.76,34.2,61.0,61.0,4010.0,3.0,60.0,831096.00
2,2,5417aada4ad3ab27e954b76c,2,100007,50004.0,4.053,108048.0,8.00,8.0,-1.0,-1.0,5531.0,0.0,0.0,800056.00
3,3,570f3a713a698c14278bb51e,1,100000,100000.0,3.889,19248.0,5.67,19.0,71.0,71.0,18393.0,1.0,100.0,567000.00
4,4,53082ea15aefb07dfe1f2a4f,1,100000,100000.0,4.036,366898.0,5.00,33.0,85.0,85.0,13789.0,0.0,0.0,500000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
953,953,567bad8582c35f28103e5813,1,2,2.0,3.999,21307.0,11.00,10.0,-10.0,-10.0,1.0,0.0,0.0,22.00
954,954,5b24edf0d1c360301099e9c6,1,2,2.0,4.303,693.0,16.00,16.0,0.0,0.0,0.0,0.0,0.0,32.00
955,955,5d417e7070327a2743021677,1,1,1.0,3.598,378.0,2.72,9.0,70.0,70.0,0.0,0.0,0.0,2.72
956,956,5add589edb5f1f32114d07df,1,1,1.0,3.956,1134.0,14.00,14.0,0.0,0.0,0.0,0.0,0.0,14.00
957,957,5d4b8931933fb13f8a1fe232,1,1,1.0,4.007,1380.0,11.00,30.0,64.0,64.0,0.0,0.0,0.0,11.00

In [11]:
#displaying the existing columns in the dataset:
print(computed_insights.columns)

Index(['index', 'merchantid', 'listedproducts', 'totalunitssold',
       'meanunitssoldperproduct', 'rating', 'merchantratingscount',
       'meanproductprices', 'meanretailprices', 'averagediscount',
       'meandiscount', 'meanproductratingscount', 'totalurgencycount',
       'urgencytextrate', 'revenues'],
      dtype='object')

7.Dropping uncessary columns

In [12]:
computed_insights=computed_insights.drop(columns=['totalurgencycount','urgencytextrate','meanproductratingscount','merchantratingscount','meandiscount'])

8.Make all values of averagediscount positive

In [13]:
def transform_to_positive(df, column_name):

    if column_name in df.columns:
        df[column_name] = df[column_name].abs()  # Apply absolute value
    else:
        print(f"Column '{column_name}' not found in dataframe!")
    return df

# Apply the transformation to the "averagediscount" column
computed_insights = transform_to_positive(computed_insights, "averagediscount")

9.Renaming columns

In [14]:
#renaming some columns for better readiness of the data:
computed_insights = computed_insights.rename(columns = {'rating' : 'rating_per_merchant_products', 'merchantid' : 'merchant_id', 'listedproducts' : 'listed_products', 'totalunitssold' : 'total_units_sold', 'meanunitssoldperproduct' : 'mean_units_sold_per_product', 'ratingpermerchantproducts' : 'rating_per_merchant_products', 'meanproductprices' : 'mean_product_prices', 'meanretailprices' : 'mean_retail_prices', 'averagediscount' : 'average_discount'})

10.export data in a csv file :

In [15]:
computed_insights.to_csv(r'C:\Users\Mokhmed\Desktop\cleaned_Computed insight - Success of active sellers.csv', index=False)

In [16]:
computed_insights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958 entries, 0 to 957
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   index                         958 non-null    int64
 1   merchant_id                   958 non-null    object
 2   listed_products               958 non-null    int64
 3   total_units_sold              958 non-null    int64
 4   mean_units_sold_per_product   958 non-null    float64
 5   rating_per_merchant_products  958 non-null    float64
 6   mean_product_prices           958 non-null    float64
 7   mean_retail_prices            958 non-null    float64
 8   average_discount              958 non-null    float64
 9   revenues                      958 non-null    float64
dtypes: float64(6), int64(3), object(1)
memory usage: 75.0+ KB